footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
}
#register-div {
  background-color: rgb(245, 245, 242);
  border: black solid 2px;
  border-radius: 15px;
  margin-top: 130px;
  margin-left: 28%;

  width: 570px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#register-h2 {
  margin: 0;

  line-height: 60px;
  font-size: 30px;

  letter-spacing: 0.01em;

  color: dark;
  text-align: center;
}

#register-btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 0;
  cursor: pointer;
  transition: 200ms;
}

#register-btn:hover {
  scale: 1.05;
}

.register-inp {
  width: 290px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 0;
  /* border-radius: 8px; */
}
#log-div {
  background-color: rgb(245, 245, 242);
  border: black solid 2px;
  border-radius: 15px;
  margin-top: 130px;
  margin-left: 28%;

  width: 570px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#log-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#log-h2 {
  margin: 0;

  line-height: 60px;
  font-size: 30px;

  letter-spacing: 0.01em;

  color: dark;
  text-align: center;
}
.log-inp {
  width: 290px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 0;
  margin-bottom: 15px;
}
#log-btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 0;
  cursor: pointer;
  transition: 200ms;
}
